body
  padding: 5px 25px 25px 25px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  margin: 0px

a
  color: #111111
  text-decoration: none
  
div#login
  width: 50%
  margin: auto
  text-align: center
	
div#header
  padding-bottom: 15px
div#header h1, h2
  display: inline
div#header a
  float: right
  padding: 15px
  display: block
  
div#action a
  float: left
  padding-right: 15px
  
table
  padding: 0px
  width: 100%
table tr.parent td
  padding-bottom: 15px
  border-bottom: 1px solid #EEE
table tr.row:hover
  background-color: #EEE
table tr td
  padding: 10px 10px 10px 0px
  margin: 3px
table tr td.icon
  width: 18px
table tr td.size 
  text-align: right
table tr td a
  display: block
