!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/css/smoothness/jquery-ui-1.8.20.custom.css');

		script(type='application/javascript', src='/javascripts/jquery-1.7.2.min.js')
		script(type='application/javascript', src='/javascripts/jquery-ui-1.8.20.custom.min.js')
		
		script(type='application/javascript', src='/javascripts/ajaxupload.js')
		script(type='application/javascript', src='/javascripts/mycloud.js')
	
	body
		block content