h1= title
	
div#login
	form(method='post', action='/login')
		input(type='text',name='username',value='')
		br
		br
		input(type='password',name='password',value='')
		br
		br
		input(type='submit',name='submit',value='login')
		